   body{
            background-color: beige;
        }
        .a{
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            width: 850px;
            margin: 0 auto;
        }
        .b{
            border: 2px solid black;
            display: grid;
            justify-content: center;
            border-radius: 10px;
background-color: #fff;
width: 400px;
height: auto;
margin: 0px;
gap: 10px;
        }
.c{
    width: 200px;
    height: 300px;
    justify-self: center;
    }
    .d{
        padding: 5px;
        color: #fff;
        text-decoration: none;
        
    }
    .z{
        display: flex;
       gap: 30px;
    }
  